# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tests-examples/

# next.js
.next/
out/
build
dist
.swc/

# misc
.DS_Store
*.pem
.env
.env.*
!.env.example

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
log
logs

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.project
.classpath
*.launch
.settings/

# turbo
.turbo

# Bun lockfile
bun.lockb

# vercel
.vercel